<!DOCTYPE html>
<html ng-app="hillCipher">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script type="text/javascript" src="hillCipher.js"></script>
  </head>
  <body>

  	<section class="tab" ng-controller="TabController as tab">
        <ul class="nav nav-pills">
          <li ng-class="{ active: tab.isSet(1) }">
            <a href ng-click="tab.setTab(1)">Encipher/Decipher</a></li>
          <li ng-class="{ active: tab.isSet(2) }">
            <a href ng-click="tab.setTab(2)">Ciphertext Attack</a></li>
        </ul>
        <div ng-show="tab.isSet(1)">
         
         	<!-- The matrix key input -->
         	<div class = "key" ng-controller = "MatrixController as MatrixCtrl">
         		<input type="button" class="btn btn-primary btn-sm" value="+" ng-click="MatrixCtrl.increaseKeyLength()">
    			<input type="button" class="btn btn-primary btn-sm" value="-" ng-click="MatrixCtrl.decreaseKeyLength()">
    			<form name = "matrixForm">
					<math xmlns='http://www.w3.org/1998/Math/MathML' display='block'>
  						<mi>Key</mi>
  						<mo>=</mo>
  						<mfenced open='[' close=']' separators=''>
    						<mtable>
    							<!-- Loop row by row in the key-->
    							<mtr ng-init = "MatrixCtrl.initializeKeyArray" ng-repeat="keyRow in MatrixCtrl.key track by $index">
    								<!-- Loop value by value in the row -->
    								<mtd ng-repeat = "keyV in keyRow track by $index">
    									<mi>
    										<input type = 'number' ng-model = 'keyRow[$index]'>
    									</mi>
    								</mtd>
    							</mtr>
    						</mtable>
  						</mfenced>
					</math>
    			</form>
    		</div>

       	</div>
        <div ng-show="tab.isSet(2)">
          2
        </div>
    </section>

  </body>
</html>
